@import './controls/theme_query.mixin.scss';

.introSection {
  position: relative;
  z-index: 0;
  margin: 3rem 0;

  .introBackgroundTwo {
    background-image: url("/palmtree2.png");
    height: 60%;
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    width: 48%;
    background-size: 60% 100%;
    bottom: -3rem;
    right: 0;
  }

  .introBackground {
    background-image: url("/toothbrush.png");
    height: 50%;
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    width: 42%;
    background-size: 100% 70%;
    top: 10rem;
  }

  .introPartOne {
    background-color: #028c82;
    border-radius: 50%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;

    p {
      color: #fff;
      font-size: 1.3rem;
      height: fit-content;
      height: -moz-fit-content;
    }
    
  }

  .introPartTow {
    height: 30vw;
    padding: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 992px) {
  .introSection {
    margin: 0;

    .introBackgroundTwo, .introBackground {
      display: none;
    }
  
    .introPartOne, .introPartTow {
      height: fit-content;
      border-radius: 0;
      padding: 2rem 2rem 0;
      margin: 0 auto;
    }

    // .introPartTow {
    //   height: fit-content;
    // }
  }
}


